@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: auto;
  padding: 3rem 2rem 3rem 2rem;

  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);

  border-radius: 15px;
  border-color:lightgray !important;
}

.login-container h1 {
  text-align: center;
}

.below-button {
  text-align: center;
}

.book-row {
  background-color:whitesmoke;
  /* box-shadow: 5px 5px 5px rgba(34, 35, 58, 0.2); */
}

.book-row:hover {
  /* cursor: pointer; */
  background-color: rgb(229, 253, 222);
}

.book-row-btn {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.book-add-form {
  background-color:whitesmoke;
}

#dropdown-more::after { 
  content: none; 
}

.favorite-heart-empty:hover {
  cursor: pointer;
  fill: green;
}

.favorite-heart-fill:hover {
  cursor: pointer;
  fill: grey;
}

/* Media query for mobile view */
/* @media (max-width: 768px) {
  .book-actions {
    flex-direction: column;
  }

  .dropdown-button {
    display: none;
  }
} */
@media (max-width: 768px) {
  .btn-collapse {
    display: none;
  }
}
@media (min-width: 769px) {
  #toggle-entry {
    display: none;
  }
}

.over-password {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#toggle-password {
  /* display: flex;
  justify-content: right; */
  margin-right: 10px;
  position: relative;
  bottom: 30px;
}

#toggle-password:hover {
  cursor: pointer;
}

.divider {
  font-size: small;
  display: flex;
  align-items: center;
  margin: 1rem; /* top and bottom */
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.1px;
  background-color: grey;
  margin: 5px;
}

.book-cards-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.book-cards-row .btn {
  margin-left: 3rem;
  height: 40px;
  width: 40px;
}

.book-card {
  width: 200px;
  height: 300px;
  margin: 1rem;
  background-color: lightgray;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.book-card img {
  width: 100%;
  height: auto; /* Maintain image proportions */
  object-fit: cover; /* Crop the image to fit the container */

  object-position: center center; /* Center the cropped image */
  z-index: 0;
}

.book-card svg {
  position: absolute;
  right: 5px;
  top: 5px;
}

.book-info {
  color: #eee;
  display: flex;
  /* align-items: center; */
  /* align-content:center; */
  /* align-items: center; */
  /* text-align: center; */
  /* justify-content: space-between; */
  padding: 0.5rem 1rem;
  letter-spacing: 0.5px;
}

.book-info h5 {
  margin: 5px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overview {
  background-color: white;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview-first-row {
  display: flex;
  /* flex-direction: row; */
  /* justify-items: space-between; */
}

.overview-first-row svg {
  justify-self: end;
}

.book-card:hover .overview {
  transform: translateY(0);
}

.book-cards-container {
  /* border: 2px solid rgba(154, 191, 154, 0.732); */
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0 0!important;
  background-color: rgba(190, 214, 190, 0.45);
  position: relative;
}

.book-cards-list-name {
  background-color: var(--bs-success);
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px 20px;
}

.book-cards-list-name h2 {
  margin: 5px 0;
  color: #eee;
}

.main-content {
  height: 100%;
  padding-bottom: 3rem;
}